* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.container {
    width: 400px;
    height: 100px;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    transition-delay: 0.3s;
    overflow: hidden;
    border-radius: 15px;
}

.container::before {
    content: "era";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-delay: .2s;
}

.container::after {
    content: "era";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-delay: .2s;
}

.bloc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: brown;
    transform: scale(0);
    z-index: -1;
    border-radius: 10px;
    transition: all .2s;
}

.container:hover {
    color: #fff;
}

.container:hover .bloc {
    transform: scale(1);
    transition: all .5s;
    transition-delay: .3s;
}

.container:hover::before, .container:hover::after {
    animation: anim 0.4s;
}

@keyframes anim {
    0% {
    } 50% {
        left: 0;
    } 100% {
        left: 0;
        content: "";
    }
}